@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1f242d;
}

a{
    color: #fff;
    text-decoration: none;
}

span{
    color: #7cf03d;
}


/* Navbar */
.navbar{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}

.navbar ul li a:hover, .navbar ul li a.active {
    color: #7cf03d;
}


/* Home */
.home {
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 60px 9% 0;
    color: #fff;
}

.home_info h1{
    font-size: 40px;
    font-weight: 700;
}

.home_info h2{
    font-size: 30px;
    margin-top: -10px;
}

.home_info p{
    font-size: 16px;
    margin: 10px 0 25px;
}

.home_info .btn_social {
    align-items: center;
    padding-bottom: 30px;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: .5s;
}

.btn:hover{
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}


.home_info .btn_social .social_icons{
    margin-top: 50px;
}

.home_info .btn_social .social_icons a{
    display: inline-flex;
    padding: 10px;
    border: 3px solid #7cf03d;
    border-radius: 50%;
    font-size: 30px;
    color: #7cf03d;
    margin: 0 8px;
    transition: .5s;
}

.home_info .btn_social .social_icons a:hover{
    background: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;
}

/* home img */
.home_img .img-box{
    width: 32vw;
    height: 32vw;
    background: red;
    border-radius: 50%;
    padding: 5px;
}

.home_img .img-box .img-item{   
    position: relative;
    width: 100%;
    height: 100%;
    background: blueviolet;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.home_img .img-box .img-item img{
    position: absolute;
    top: 20px;
    display: block;
    width: 85%;
    object-fit: cover;
}